#body{
    min-height: 120vh;
}
#image {
    background-image: url("../images/temp.jpg");
    height: 50vh;
    color: white;
    text-align: center;
}
#map{
    background-color: gray;
    height: 25vh;
    text-align: center;
}