/*---------------------------------------------------------NAVBAR STARTS-----------------------------------------*/
.container-fluid #main-menu{
    background-image:linear-gradient(-90deg,#1cc3cb, white);
}
.nav-link{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: 3px;
    color: white!important;
    font-weight: 500;
}
.navbar-nav{
    text-align: right;
    margin-right: 20px;
}
.nav-toggler{
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}
.nav-link:hover {
    border-bottom: 1px solid black;
    color: black!important;
}
/*---------------------------------------------------------NAVBAR ENDS-----------------------------------------*/



/*---------------------------------------------------------BODY STARTS-----------------------------------------*/
#image {
    margin: 0px;
    padding: 0px;
    background-image: url("../images/temp.jpg");
    height: 50vh;
    color: white;
    text-align: center;
    width: 100%;
    position: relative;

}
#image-parent #spacer-about{
    height: 8vh;
}
#image-parent #image{
    height: 15vh;
}
#image-parent #topic-about{
    padding: 20px;
    color: #1cc3cb;
    text-align: center;
    position: relative;
    height: 7vh;
    background-color: white;
}
#slogan h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    position: relative;
    animation-name: processing;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes processing{
    0%      {left: -1000px;}
    100%    {left: 0;}
}
#slogan h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: white;
    opacity: .7;
    position: relative;
    animation-name: project;
    animation-duration: 3s;
    animation-delay: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes project{
    0%      {opacity: 0;}
    100%    {opacity: 1;}
}
#image #spacer{
    height: 25%;
}
#slogan{
    height: 60%;
}
#topic{
    color: #1cc3cb;
    text-align: center;
    position: relative;
    padding: 0px;
    height: 16%;
    background-color: white;
}
#topic p{
    color: #1cc3cb;
    position: relative;
    padding-top: 3%;
}
.row .contentcontainer{
    border-width: 5px;
    border:1px solid #1cc3cb;
    text-align: justify;
    padding: 50px;
    margin-top: 10px;
    margin: auto;
}
.contentcontainer h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: black;
    opacity: .7;
}
.coverage{
    padding: 0px;
    border:1px solid #1cc3cb;
    position: relative;
    height: 50%;
}
.icon{
    margin: 4px;
    border-radius: 50px;
    padding: 10px;
}
#more{
    font-family: 'Raleway', sans-serif;
    padding: 30px;
    text-align: justify;
    margin-top: 5%;
    background-image:linear-gradient(to bottom,rgb(28, 195, 203, .2), white, rgb(28, 195, 203, .2));
}
.box p{
    font-family: 'Raleway', sans-serif;
}
#more .row .box{
    padding: 20px;
}
#more-about{
    border: 1px solid #1cc3cb;
    font-family: 'Raleway', sans-serif;
    color:#1cc3cb;
    padding: 20px;
    text-decoration: none;
    animation-name: moreAbout;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes moreAbout{
    0% {background-color: white; padding: 20px;}
    100% {background-color: #1cc3cb; padding: 15px;}
}
#more-about:hover{
    animation-play-state: paused;
    text-decoration: underline;
    color: black;
    border-color: black;
}
#more-about:visited{
    animation-play-state: paused!important;
    color: #1cc3cb!important;
    border: 1px solid #1cc3cb!important;
    background-color: white!important;

}
#more-about-holder{
    text-align: center;
    padding: 60px;
}
#products{
    background-image: url("../images/temp.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding: 2%;
}
#products #container{
    background-color:white;
    padding: 2% 5% 2% 5%;
    text-align: justify;
    
}
.label-prods{
    color: #1cc3cb;
    margin: 10px;
    text-align: center;
    margin-bottom: 50px;
}
.label-prods p{
    color: #1cc3cb;
}
.card-body{
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 0 7px #1cc3cb;
    margin-top: 30px;
}
.card-body .card-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.card{
    margin-top: 20px;
}
p b{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: black;
    opacity: .7;
}
p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: gray;
    opacity: 1;
}
h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: black;
    opacity: .7;
}
.hr{
    background-color: #1cc3cb;
    opacity: 1;
}
.sols{
    color: red;
}
footer{
    background-color: #212121;
}
footer a{
    font-family: 'Raleway', sans-serif;
    color: gray;
    text-decoration: none;
}
footer a:hover{
    font-family: 'Raleway', sans-serif;
    color: #1cc3cb;
    text-decoration: none;
}
.footer-topics{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #1cc3cb;
    margin-top: 25px;
    margin-bottom: 10px;
}
#copyright{
    margin: 20px;
    text-align: center;
}
#contact{
    padding-top: 2%;
    
}
#about{
    margin: 2px;
    color: #1cc3cb;
}
footer p{
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    margin: 2px;
}